<div class="shadow p-3 mb-5 bg-body rounded">
    <h2>available designs:</h2>
        <section id="Designs">
            <div class="image-container">
            
                @for (design of tattooDesigns; track design) {
                        <div class="design-container">
                            <img src="{{ design.imageURL }}"/>
                            <p>{{ design.title }}</p>
                        </div>
                    } @empty {
                        <li>There are no items.</li>
                    }
            </div>
        </section>

</div>
