p {
  margin-top: 0px;
  margin-bottom:0px;
}

.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.design-header {
   text-align: center;
}

.design-container {
  margin: 0.25rem;
  background-color:rgb(145, 54, 57);
  color: whitesmoke;
  text-align: center;

  & img {
    height:160px;
    width:157px;
  }
}