<aside>All fields are required.</aside>
<form id="contact-details">
  <input type="text" placeholder="First Name" [(ngModel)]="form.firstName" [ngModelOptions]="{standalone: true}">
  <br/>
  <input type="text" placeholder="Last Name" [(ngModel)]="form.lastName" [ngModelOptions]="{standalone: true}">
  <br/>
  <input type="email" placeholder="Email" [(ngModel)]="form.email" [ngModelOptions]="{standalone: true}">
  <br/>
  <input type="text" placeholder="Mobile" [(ngModel)]="form.mobile" [ngModelOptions]="{standalone: true}">
  <br/>
  <textarea placeholder="Additional Notes" [(ngModel)]="form.additionalNotes" [ngModelOptions]="{standalone: true}"></textarea>
  <br/>
  <button type="button" (click)="submit()">Submit</button>
  </form>

  <section>
    <p>Other enquiry details:</p>

  </section>