<aside>All fields are required.</aside>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()" > 
  <h2>Personal Details</h2>
    <div class="mb-3">
    <label class="form-label" for="firstName">First Name: </label>
    <input class="form-control" id="firstName" type="text" formControlName="firstName" />
    </div>
    <div class="mb-3">
    <label class="form-label" for="lastName">Last Name: </label>
    <input class="form-control" id="lastName" type="text" formControlName="lastName" />
    </div>

    <div formGroupName="contact">
        <h2>Contact Details</h2>
        <div class="mb-3">
        <label class="form-label" for="exampleInputEmail1" >Email: </label>
        <input class="form-control" id="exampleInputEmail1" type="email" formControlName="email" />
        </div>
        <div class="mb-3">
        <label class="form-label" for="mobile">Mobile: </label>
        <input class="form-control" id="mobile" type="phone" formControlName="mobile" />
        </div>
        </div>

    <div class="mb-3">
    <label class="form-label" for="additionalNotes">Additional Notes: </label>
    <input class="form-control" id="additionalNotes" type="text" formControlName="additionalNotes" />
    </div>

    <div class="input-group mb-3">
    <p>For custom designs, reference photos can be provided once your request has been reviewed by the tattooist.</p>
    </div>
    
    <p>Complete the form to enable button.</p>
    <button class="btn btn-dark" type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
