<div class="shadow p-3 mb-5 bg-body rounded">
<!-- design selection -->
<br/>
<div class="col">
<p>Select your desired design:</p>
	<select [(ngModel)]="form.selectedDesign">
		<option default>Pick a design</option>
		<option>Custom</option>	
		<option>A1</option>	
		<option>A2</option>	
		<option>A3</option>
		<option>A4</option>	
		<option>A5</option>	
		<option>R0</option>	
		<option>R1</option>	
		<option>W1</option>	
		<option>R2</option>	
		<option>R3</option>	
		<option>R4</option>	
		<option>R5</option>	
		<option>S1</option>	
		<option>S2</option>	
		<option>S3</option>	
		<option>S4</option>	
		<option>S5</option>	
		<option>K1</option>	
		<option>K2</option>	
		<option>F1</option>	
		<option>R6</option>	
		<option>W1</option>	
		<option>W2</option>	
		<option>W3</option>	
		<option>W4</option>	
		<option>W5</option>	
		<option>W6</option>	
		<option>W7</option>	
		<option>W8</option>	
		<option>W9</option>	
		<option>W10</option>	
		<option>S6</option>	
		<option>S7</option>	
		<option>S8</option>	
	</select>
</div>
<br/>
<hr>
<!-- placement selection -->
<section id="Details">
<br/>
<div class="col">
<p>If the area is not included in the dropdown list, it is not available to be tattooed on at the moment.</p>
<p>Please select the area on your body that you would like the tattoo to be done on:</p>
	<select [(ngModel)]="form.selectedPlacement">
		<option default>Select an option:</option>
		<option>Arm - Upper</option>	
		<option>Arm - Lower</option>	
		<option>Leg - Upper</option>	
		<option>Leg - Lower</option>	
    <option>Back - Upper</option>	
		<option>Back - Lower</option>	
	</select>
</div>
<br/>
<hr>
<!-- size selection -->
<br/>
<div class="col">
<p>Please select the size of the tattoo you would like done:</p>
	<select [(ngModel)]="form.selectedSize">
		<option default>Select a size:</option>
		<option>3 inches</option>	
		<option>4 inches</option>	
		<option>5 inches</option>	
		<option>6 inches</option>	
		<option>7 inches</option>	
		<option>8 inches</option>	
	</select>
</div>
</section>
</div>

<div class="shadow p-3 mb-5 bg-body rounded">
  <section id="Booking">
<!-- booking selection -->
 <div class="col">
    <p>Autumn Availability💕</p>
    <p>[September - November, Closed in December]</p>
    <p>Desired appointment date & time:</p>
      <select [(ngModel)]="form.selectedDate">
        <option default>Pick time slot:</option>
        <option>Sunday, Sept 21st</option>
        <option>Sunday, Sept 28th</option>
        <option>Sunday, Oct 5th</option>
        <option>Sunday, Oct 12th</option>
        <option>Sunday, Oct 26th</option>
        <option>Sunday, Nov 9th</option>
        <option>Sunday, Oct 26th</option>
        <option>Sunday, Oct 23th</option>
        <option>Maybe a Saturday?</option>
      </select>
  </div>
  </section>
</div>


<div class="shadow p-3 mb-5 bg-body rounded">
<!-- selection confirmation -->
<br/>
<h5>Tattoo Selections:</h5>
<section>
    <label>Design Selected: {{ form.selectedDesign }}</label>
    <br/>
    <label>Tattoo Placement: {{ form.selectedPlacement }} </label>
    <br/>
    <label>Tattoo Size: {{ form.selectedSize }}</label>
    <br/>
    <label>Preferred Date: {{ form.selectedDate }}</label>
  </section>

<!-- contact details -->
 <br/>
  <section id="Contact">
    <h5>Contact Details:</h5>
    <aside>All fields are required.</aside>
      <form id="contact-details">
        <input type="text" placeholder="First Name" [(ngModel)]="form.firstName" [ngModelOptions]="{standalone: true}">
        <br/>
        <br/>
        <input type="text" placeholder="Last Name" [(ngModel)]="form.lastName" [ngModelOptions]="{standalone: true}">
        <br/>
        <br/>
        <input type="email" placeholder="Email" [(ngModel)]="form.customerEmail" [ngModelOptions]="{standalone: true}">
        <br/>
        <br/>
        <textarea placeholder="Additional Notes" [(ngModel)]="form.additionalNotes" [ngModelOptions]="{standalone: true}"></textarea>
        <br/>
        <br/>
        <button type="button" (click)="submit()">Submit</button>
      </form>
  </section>
</div>

  