/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Pijamas';
    src: url('./app/assets/pijamas-font/Pijamas-ejPO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sketch';
    src: url('./app/assets/sketchnote-font/Sketchnote-WpeM9.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p, label, h2, h3, h4, h5, h6 {
    font-family: 'Sketch';
}

p {
    font-weight:500;
}

h1, h2, h3, h4, h5, h6{
    font-weight:900;
}

h2, h3, h4, h5, h6{
    background-color: #1a1a1a;
    color: whitesmoke;
    padding: 5px;
}

h5 {
    text-align: center;
}

